#include <dt-bindings/zmk/rgb_colors.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/* Per-key RGB underglow */

/ {
    underglow-layer {
        compatible = "zmk,underglow-layer";

        BaseLayer {
            bindings = <
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                                     &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x00FF80
&ug 0x00FF80  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x00FF80  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug 0x00FF80  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x6B1FCE                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug 0xFF00FF  &ug 0x00FFFF  &ug GREEN  &ug YELLOW  &ug 0x6B1FCE                                   &ug BLACK  &ug YELLOW  &ug GREEN  &ug 0x00FFFF  &ug 0xFF00FF  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x6B1FCE  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug 0x6B1FCE  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug 0x6B1FCE  &ug BLACK  &ug BLACK  &ug 0x6B1FCE  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
            >;

            layer-id = <0>;
        };

        Cursor {
            bindings = <
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                                     &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug 0x00FF80  &ug BLACK  &ug 0x00FF80  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug GREEN  &ug 0x99F5FF  &ug RED  &ug 0x99F5FF  &ug BLACK  &ug BLACK
&ug YELLOW  &ug 0xFF00FF  &ug 0x00FFFF  &ug GREEN  &ug YELLOW  &ug BLACK                                   &ug GREEN  &ug RED  &ug RED  &ug RED  &ug BLACK  &ug YELLOW
&ug 0x00FF80  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug 0x7A00FF  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug GREEN  &ug 0x00FF80  &ug 0x99F5FF  &ug 0x99F5FF  &ug BLACK  &ug BLACK
&ug 0x00FF80  &ug 0xFF80BF  &ug 0xFF80BF  &ug 0x7A00FF  &ug 0x7A00FF          &ug RED  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug 0x7A00FF  &ug 0x7A00FF  &ug 0x7A00FF  &ug BLACK  &ug 0x00FF80
            >;

            layer-id = <1>;
        };

        Number {
            bindings = <
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                                     &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug GREEN  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug YELLOW  &ug BLACK
&ug YELLOW  &ug 0xFF00FF  &ug 0x00FFFF  &ug GREEN  &ug YELLOW  &ug BLACK                                   &ug BLACK  &ug 0xFFD900  &ug 0xFF7C4D  &ug 0xFFD900  &ug BLUE  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0xFF80BF  &ug BLACK  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug RED  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug RED  &ug BLACK  &ug BLACK  &ug 0xFF80BF  &ug 0xFFD900          &ug 0x00FF80  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
            >;

            layer-id = <2>;
        };

        Function {
            bindings = <
&ug 0x94E3FE  &ug 0x94E3FE  &ug 0x94E3FE  &ug 0x94E3FE  &ug 0x94E3FE                                                     &ug 0x94E3FE  &ug 0x94E3FE  &ug 0x94E3FE  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug 0xFFFF00  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFF80BF  &ug BLACK
&ug YELLOW  &ug 0xFF00FF  &ug 0x00FFFF  &ug GREEN  &ug YELLOW  &ug BLACK                                   &ug BLACK  &ug 0x00FFFF  &ug 0x99F5FF  &ug 0x99F5FF  &ug 0xFF80BF  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug RED  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x00FF00  &ug 0x00FF80  &ug 0x00FF80  &ug 0xFF80BF  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
            >;

            layer-id = <3>;
        };

        Factory {
            bindings = <
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                                     &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                   &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug RED  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug RED  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
            >;

            layer-id = <4>;
        };

        Symbols {
            bindings = <
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK                                                     &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
&ug BLACK  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900                                   &ug 0x00FF80  &ug 0x00FF80  &ug 0x00FF80  &ug 0x7A00FF  &ug 0x7A00FF  &ug BLACK
&ug BLACK  &ug 0xFFD900  &ug 0xFFD900  &ug 0x7A00FF  &ug 0x7A00FF  &ug 0x00FF80                                   &ug 0xFFD900  &ug 0x00FF80  &ug 0x00FF80  &ug 0xFFD900  &ug 0xFFD900  &ug BLACK
&ug BLACK  &ug 0xFFD900  &ug 0xFFD900  &ug 0x7A00FF  &ug 0x7A00FF  &ug 0x00FF80                                   &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug 0x00FF80  &ug 0x00FF80  &ug BLACK
&ug BLACK  &ug 0x00FF80  &ug 0x00FF80  &ug 0x7A00FF  &ug 0x7A00FF  &ug 0xFFD900  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug 0x7A00FF  &ug 0x7A00FF  &ug 0xFFD900  &ug 0xFFD900  &ug 0xFFD900  &ug BLACK
&ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK          &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK  &ug BLACK
            >;

            layer-id = <6>;
        };

    };
};

/* Custom behaviors */

/ {
    behaviors {
        shift_left_td: shift_left_td {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sticky_key_modtap LSHFT LSHFT>, <&kp CAPS>;
        };

        shift_right_td: shift_right_td {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sticky_key_modtap RSHFT RSHFT>, <&kp CAPS>;
        };
    };
};

/ {
    behaviors {
        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };
};

/ {
    behaviors {
        left_pinky: homey_left_pinky {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79 57 74 56 73 55 72>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        right_pinky: homey_right_pinky {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 64 65 66 67 68 69 52 70 53 71 54>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        left_ringy: homey_left_ringy {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79 57 74 56 73 55 72>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        right_ringy: homey_right_ringy {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 64 65 66 67 68 69 52 70 53 71 54>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        left_middy: homey_left_middy {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79 57 74 56 73 55 72>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        right_middy: homey_right_middy {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 64 65 66 67 68 69 52 70 53 71 54>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        left_index: homey_left_index {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 58 59 60 61 62 63 75 76 77 78 79 57 74 56 73 55 72>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        right_index: homey_right_index {
            compatible = "zmk,behavior-hold-tap";
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 64 65 66 67 68 69 52 70 53 71 54>;
            hold-trigger-on-release;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    behaviors {
        sticky_key_modtap: sticky_key_modtap {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            #binding-cells = <2>;
            bindings = <&kp>, <&sticky_key_oneshot>;
        };

        sticky_key_oneshot: sticky_key_oneshot_macro {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&sticky_key_quickrel MACRO_PLACEHOLDER>;
        };

        sticky_key_quickrel: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <500>;
            quick-release;
            ignore-modifiers;
        };
    };
};

/ {
    behaviors {
        caps_word {
            continue-list = <
                UNDERSCORE MINUS
                BACKSPACE DELETE
                N1 N2 N3 N4 N5 N6 N7 N8 N9 N0
            >;
        };
    };
};

/* Custom macros */

/ {
    macros {
        rgb_ug_status_macro: rgb_ug_status_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };
    };
};

/ {
    macros {
        bt_0: bt_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };
};

/* Mouse key overrides */

&mmv {
    delay-ms = <0>;
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <300>;
};

&msc {
    delay-ms = <0>;
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <300>;
};

/* Automatically generated macro definitions */

/ {
    macros {
        select_none: select_none {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp DOWN &kp UP &kp RIGHT &kp LEFT>;
        };

        select_word_right: select_word_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LA(RIGHT) &kp LA(LEFT) &kp LA(LS(RIGHT))>;
        };

        select_word_left: select_word_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LA(LEFT) &kp LA(RIGHT) &kp LA(LS(LEFT))>;
        };

        select_line_right: select_line_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LG(LEFT) &kp LS(LG(RIGHT))>;
        };

        select_line_left: select_line_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LG(RIGHT) &kp LS(LG(LEFT))>;
        };

        extend_word_right: extend_word_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LA(LS(RIGHT))>;
        };

        extend_word_left: extend_word_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LA(LS(LEFT))>;
        };

        extend_line_right: extend_line_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LS(DOWN) &kp LS(LG(RIGHT))>;
        };

        extend_line_left: extend_line_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings = <&kp LS(UP) &kp LS(LG(LEFT))>;
        };
    };
};

/* Automatically generated behavior definitions */

/ {
    behaviors {
        select_word: select_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&select_word_right>, <&select_word_left>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        select_line: select_line {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&select_line_right>, <&select_line_left>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        extend_word: extend_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&extend_word_right>, <&extend_word_left>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        extend_line: extend_line {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&extend_line_right>, <&extend_line_left>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fn_emoji_td: fn_emoji_td {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 3>, <&kp LC(LG(SPACE))>;
        };
    };
};

/* Automatically generated combos definitions */
/* Automatically generated keymap */

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_QWERTY {
            bindings = <
&kp F1                     &kp F2               &kp F3              &kp F4              &kp F5                                                                                                                        &kp F6                &kp F7               &kp F8               &kp F9                   &kp F10
&fn_emoji_td               &kp N1               &kp N2              &kp N3              &mt LS(LG(N4)) NUMBER_4  &kp N5                                                                                       &kp N6  &kp N7                &kp N8               &kp N9               &kp N0                   &kp MINUS
&kp LS(LA(LC(LG(SPACE))))  &kp Q                &kp W               &kp E               &kp R                    &lt 2 T                                                                                        &kp Y   &kp U                 &kp I                &kp O                &kp P                    &kp BACKSLASH
&kp EQUAL                  &left_pinky LCTRL A  &left_ringy LALT S  &left_middy LGUI D  &left_index LSHFT F      &lt 1 G                                                                                      &kp H   &right_index LSHFT J  &right_middy LGUI K  &right_ringy LALT L  &right_pinky LCTRL SEMI  &kp SQT
&shift_left_td             &kp Z                &kp X               &kp C               &kp V                    &kp B    &kp BACKSPACE  &kp TAB        &mo 3      &msc MOVE_Y(15)   &kp INSERT    &kp ENTER  &kp N   &kp M                 &kp COMMA            &kp DOT              &kp FSLH                 &shift_right_td
&magic 5 0                 &kp HOME             &kp END             &kp DOWN            &kp UP_ARROW                      &kp ESCAPE     &lt 6 DELETE   &kp SPACE  &msc MOVE_Y(-15)  &mo 6         &kp SPACE          &kp LEFT              &kp RIGHT            &kp GRAVE            &kp LBKT                 &kp RBKT
            >;
        };

        layer_Cursor {
            bindings = <
&none      &none      &none          &none          &none                                                                                        &none         &none          &none          &none          &none
&none      &none      &none          &none          &none      &none                                                                  &none      &kp LG(LBKT)  &none          &kp LG(RBKT)   &none          &none
&none      &none      &none          &none          &none      &none                                                                  &kp LG(X)  &kp LG(LEFT)  &kp UP_ARROW   &kp RG(RIGHT)  &kp TAB        &none
&sk LSHFT  &kp LCTRL  &kp LALT       &kp LGUI       &kp LSHFT  &none                                                                  &kp LG(C)  &kp LEFT      &kp DOWN       &kp RIGHT      &none          &sk LSHFT
&kp LG(L)  &kp LG(A)  &select_line   &select_word   &kp LG(F)  &none  &none   &none  &none  &select_none  &extend_line  &extend_word  &kp LG(V)  &kp LG(L)     &kp PG_UP      &kp PG_DN      &none          &none
&kp LG(K)  &kp LG(Z)  &kp LG(LS(Z))  &kp LG(LS(G))  &kp LG(G)         &tog 1  &none  &none  &kp LG(A)     &none         &none                    &kp LG(F)     &kp LG(LS(G))  &kp LG(G)      &kp LG(H)      &kp LG(K)
            >;
        };

        layer_Number {
            bindings = <
&none      &none      &none          &none          &none                                                                                   &none          &none      &none      &none          &none
&none      &none      &none          &none          &none      &none                                                              &none      &none          &none      &none      &kp LS(EQUAL)  &none
&none      &none      &none          &none          &none      &none                                                              &none      &kp N7         &kp N8     &kp N9     &kp MINUS      &none
&sk LSHFT  &kp LCTRL  &kp LALT       &kp LGUI       &kp LSHFT  &none                                                              &none      &kp N4         &kp N5     &kp N6     &kp LS(N8)     &none
&none      &none      &none          &none          &none      &none   &none  &none   &none  &none          &none      &kp DOT    &none      &kp N1         &kp N2     &kp N3     &kp FSLH       &none
&none      &none      &none          &none          &none              &none  &tog 2  &none  &none          &kp DOT    &kp N0                &kp EQUAL      &none      &none      &none          &none
            >;
        };

        layer_Function {
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_PREV  &kp C_NEXT  &kp C_PP                                                                                        &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &none   &none
&none         &none         &none       &none       &none      &none                                                                        &none       &none         &none         &none   &none   &none
&none         &none         &none       &none       &none      &none                                                                        &none       &kp F7        &kp F8        &kp F9  &kp F10  &none
&sk LSHFT     &kp LCTRL     &kp LALT    &kp LGUI    &kp LSHFT  &none                                                                        &none       &kp F4        &kp F5        &kp F6  &kp F11  &none
&none         &none         &none       &none       &none      &none   &tog 3  &none  &none  &none  &none  &none                            &none       &kp F1        &kp F2        &kp F3  &kp F12  &none
&none         &none         &none       &none       &none              &none   &none  &none  &none  &none  &none                                        &none         &none         &none   &none    &none
            >;
        };

        layer_Factory {
            bindings = <
&kp F1      &kp F2    &kp F3   &kp F4    &kp F5                                                                                     &kp F6  &kp F7     &kp F8    &kp F9    &kp F10
&kp EQUAL   &kp N1    &kp N2   &kp N3    &kp N4     &kp N5                                                                  &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB     &kp Q     &kp W    &kp E     &kp R      &kp T                                                                   &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp ESC     &kp A     &kp S    &kp D     &kp F      &kp G                                                                   &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp GRAVE   &kp Z     &kp X    &kp C     &kp V      &kp B   &kp LSHFT  &kp LCTRL  &none     &kp LGUI  &kp RCTRL  &kp RSHFT  &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp PG_UP
&magic 5 0  &kp HOME  &kp END  &kp LEFT  &kp RIGHT          &kp BSPC   &kp DEL    &kp LALT  &kp RALT  &kp RET    &kp SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &kp PG_DN
            >;
        };


        layer_Magic {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                     &none  &none  &none  &none  &bt BT_CLR_ALL
&to 0        &none            &none            &none            &trans           &trans                                                            &none  &none  &none  &none  &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                   &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                   &none  &none  &none  &none  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &tog 4        &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB  &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };

        layer_Symbols {
            bindings = <
&trans  &trans           &trans       &trans                &trans                                                                                             &trans            &trans          &trans                &trans                 &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH              &kp DOLLAR             &kp PERCENT                                                  &kp CARET      &kp AMPERSAND     &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PLUS                                                     &kp BSLH       &kp PIPE          &kp AMPERSAND   &kp QUESTION          &kp PERCENT            &trans
&trans  &kp HASH         &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL                                                    &kp SEMI       &kp COLON         &kp UNDERSCORE  &kp MINUS             &kp FSLH               &trans
&trans  &kp TILDE        &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOT      &trans  &trans  &trans  &trans  &trans  &trans  &kp LESS_THAN  &kp GREATER_THAN  &kp SQT         &kp DOUBLE_QUOTES     &kp GRAVE              &trans
&trans  &trans           &trans       &trans                &trans                              &trans  &trans  &trans  &trans  &trans  &trans                 &trans            &trans          &trans                &trans                 &trans
            >;
        };
    };
};
